/* Copyright (c) 2015-2016, The Linux Foundation. All rights reserved.
 *
 * This program is free software; you can redistribute it and/or modify
 * it under the terms of the GNU General Public License version 2 and
 * only version 2 as published by the Free Software Foundation.
 *
 * This program is distributed in the hope that it will be useful,
 * but WITHOUT ANY WARRANTY; without even the implied warranty of
 * MERCHANTABILITY or FITNESS FOR A PARTICULAR PURPOSE.  See the
 * GNU General Public License for more details.
 */

/ {
	cpus {
		CPU0 {
			sched-energy-costs = <&CPU_COST_0 &CLUSTER_COST_0>;
		};
		CPU1 {
			sched-energy-costs = <&CPU_COST_0 &CLUSTER_COST_0>;
		};
		CPU2 {
			sched-energy-costs = <&CPU_COST_0 &CLUSTER_COST_0>;
		};
		CPU3 {
			sched-energy-costs = <&CPU_COST_0 &CLUSTER_COST_0>;
		};
		CPU4 {
			sched-energy-costs = <&CPU_COST_1 &CLUSTER_COST_1>;
		};
		CPU5 {
			sched-energy-costs = <&CPU_COST_1 &CLUSTER_COST_1>;
		};
		CPU6 {
			sched-energy-costs = <&CPU_COST_1 &CLUSTER_COST_1>;
		};
		CPU7 {
			sched-energy-costs = <&CPU_COST_1 &CLUSTER_COST_1>;
		};
		energy-costs {
			CPU_COST_0: core-cost0 {
				busy-cost-data = <
					149 90
					188 111
					225 133
					257 160
					269 171
					281 182
					315 210
					368 251
					406 306
					417 319
					428 332
					469 379
					502 438
					538 494
					559 522
					581 550
					611 613
					648 670
					266 711
					684 752
					729 848
					763 925
				>;
				idle-cost-data = <
					2 2 0
				>;
			};
			CPU_COST_1: core-cost1 {
				busy-cost-data = <
					149 93
					188 111
					225 133
					257 160
					281 182
					315 210
					348 252
					374 290
					428 332
					469 379
					502 438
					538 494
					581 550
					611 613
					648 670
					684 752
					729 848
					763 925
					795 1018
					832 1073
					868 1209
					905 1298
					952 1428
					979 1521
					1024 1715
				>;
				idle-cost-data = <
				      2 2 0
				>;
			};
			CLUSTER_COST_0: cluster-cost0 {
				busy-cost-data = <
					149 4
					188 4
					225 4
					257 4
					281 4
					315 4
					368 8
					406 9
					428 15
					469 16
					502 21
					538 22
					581 29
					611 32
					648 42
					684 49
					729 41
					763 52
				>;
				idle-cost-data = <
					0
					0
				>;
			};
			CLUSTER_COST_1: cluster-cost1 {
				busy-cost-data = <
					149 4
					188 4
					225 4
					257 4
					281 4
					315 4
					348 7
					374 10
					428 15
					469 16
					502 21
					538 22
					581 29
					611 32
					648 42
					684 49
					729 41
					763 52
					795 62
					832 69
					868 75
					905 81
					952 90
					979 93
					1024 96
				>;
				idle-cost-data = <
					0
					0
				>;
			};
		};
	};
};
